<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<a th:href="@{/notebooks}">Back</a>
<table class="table" th:each="section : ${currentNotebookSections}">
    <tbody>
    <tr>
        <th scope="row" style="color:orange;">Date</th>
        <td th:text="*{section.date}"></td>
    </tr>
    <tr>
        <th scope="row" style="color:orange;">Title</th>
        <td th:text="*{section.title}"></td>
    </tr>
    <tr>
        <th scope="row" style="color:orange;">Content</th>
        <td th:text="*{section.content}"></td>
    </tr>
    <tr></tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>