<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header::header"></head>
<body xmlns:th="http://www.thymeleaf.org">
    <form class="container mt-5">
        <h2>Sign Up</h2>
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="inputName" class="visually-hidden">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputSurname" class="visually-hidden">Surname</label>
                <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail" class="visually-hidden">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputUsername" class="visually-hidden">Username</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
            <div class="form-group col-md-6 mt-2">
                <label for="inputPassword" class="visually-hidden">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group col-md-6 mt-2">
                <label for="reInputPassword" class="visually-hidden">Re-Enter Password</label>
                <input type="password" class="form-control" id="reInputPassword" placeholder="Re-Enter Password">
            </div>
        </div>
        <div class="form-group mt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Stay signed in
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a href="/signin" class="btn btn-light">Sign In</a>
    </form>
    <footer th:replace="fragments/footer::footer"></footer>
</body>
</html>