<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body xmlns:th="http://www.thymeleaf.org">
<form class="container mt-5" method="post" action="#" th:action="@{/auth/signin}" th:object="${userDTO}">
    <h2>Sign In</h2>
    <div class="form-row row align-items-center">
        <div class="form-group col-md-6">
            <label for="username" class="visually-hidden">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Username"
                   required>
            <div th:if="${#fields.hasErrors('username')}"
                 class="alert alert-danger alert-dismissible fade show" data-err-alert>
                <span th:errors="*{username}" class="alert-danger"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
        <div class="form-group col-md-6 mt-2">
            <label for="password" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password"
                   required>
            <div th:if="${#fields.hasErrors('password')}"
                 class="alert alert-danger alert-dismissible fade show" data-err-alert>
                <span th:errors="*{password}" class="alert-danger"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    </div>
    <button th:if="${#fields.hasErrors('*')}" type="button"
            class="btn-close text-nowrap text-center h-100 alert alert-dismissible fade show"
            id="btn-close-errs"
            data-bs-dismiss="alert" aria-label="Close">
        <span class="ms-4">Close all</span>
    </button>
    <div class="form-group mt-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Forgotten password?
            </label>
        </div>
    </div>
    <a href="/signup" class="btn btn-light">Sign Up</a>
    <button type="submit" class="btn btn-primary" id="btn">Sign In</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', () => {

    });
    const btn = document.querySelector("#btn");
    btn.addEventListener("submit", (e) => {
        e.preventDefault();
    })
    const btnCloseErrs = document.querySelector("#btn-close-errs")
    btnCloseErrs.addEventListener("click", () => {
        const alerts = document.querySelectorAll("[data-err-alert]");
        alerts.forEach((a) => {
            new bootstrap.Alert(a).close();
        })
    })
</script>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>