<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body>
<div th:replace="~{fragments/navigation::navigation}"></div>
<div class="container mt-5" style="font-size:1rem;">
    <a th:href="@{/notebooks/{id}(id=${id})}">Back</a>
    <form th:object="${updatedNotebookSection}" th:method="POST"
          th:action="@{/notebooks/{id}/update/{sectionId}(id=${id}, sectionId=${sectionId})}">
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="title" class="visually-hidden">Title</label>
                <input type="text" id="title" name="title" th:field="*{title}" placeholder="Title">
                <div th:if="${#fields.hasErrors('title')}"
                     class="alert alert-danger alert-dismissible fade show" data-err-alert>
                    <span th:errors="*{title}" class="alert-danger"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="date" class="visually-hidden">Date</label>
                <input type="date" id="date" name="date" th:value="*{date}" required>
                <div th:if="${#fields.hasErrors('date')}"
                     class="alert alert-danger alert-dismissible fade show" data-err-alert>
                    <span th:errors="*{date}" class="alert-danger"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="content" class="visually-hidden">Content</label>
                <input type="text" id="content" name="content" th:field="*{content}" placeholder="Content">
                <div th:if="${#fields.hasErrors('content')}"
                     class="alert alert-danger alert-dismissible fade show" data-err-alert>
                    <span th:errors="*{content}" class="alert-danger"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a th:href="@{/notebooks/{id}(id=${id})}" class="btn btn-light">Cancel</a>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {

    });
    const btn = document.querySelector("#btn");
    btn.addEventListener("submit", (e) => {
        e.preventDefault();
    })
    const btnCloseErrs = document.querySelector("#btn-close-errs")
    btnCloseErrs.addEventListener("click", () => {
        const alerts = document.querySelectorAll("[data-err-alert]");
        alerts.forEach((a) => {
            new bootstrap.Alert(a).close();
        })
    })
</script>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>