<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body>
<div th:replace="~{fragments/navigation::navigation}"></div>

<script src="https://cdn.tiny.cloud/1/fdx5176nd7835jtz6f7j574ho2rtj6u3miwon0hqd2pqe3i0/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#editor',
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
        menubar: false,
    });
</script>

<div class="container mt-5" style="font-size:1rem;">
    <a th:href="@{/notebooks/{id}(id=${id})}" class="btn btn-light">Back</a>
    <br>
    <form th:object="${updatedNotebookSection}" th:method="POST"
          th:action="@{/notebooks/{id}/update/{sectionId}(id=${id}, sectionId=${sectionId})}">
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="title" class="visually-hidden">Title</label>
                <input type="text" class="form-control" id="title" name="title" th:field="*{title}" placeholder="Title">
                <div th:if="${#fields.hasErrors('title')}"
                     class="alert alert-danger alert-dismissible fade show" data-err-alert>
                    <span th:errors="*{title}" class="alert-danger"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
        <br>
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="date" class="visually-hidden">Date</label>
                <input type="date" class="form-control" id="date" name="date" th:value="*{date}" required>
            </div>
        </div>
        <br>
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="editor" class="visually-hidden">Content</label>
                <div class="container mt-4 mb-4">
                    <div class="form-group">
                        <textarea class="form-control" id="editor" name="content" th:field="*{content}"
                                  placeholder="Content"></textarea>
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('content')}"
                     class="alert alert-danger alert-dismissible fade show" data-err-alert>
                    <span th:errors="*{content}" class="alert-danger"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Save</button>
        <a th:href="@{/notebooks/{id}(id=${id})}" class="btn btn-light">Cancel</a>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {

    });
    const btn = document.querySelector("#btn");
    btn.addEventListener("submit", (e) => {
        e.preventDefault();
    })
    const btnCloseErrs = document.querySelector("#btn-close-errs")
    btnCloseErrs.addEventListener("click", () => {
        const alerts = document.querySelectorAll("[data-err-alert]");
        alerts.forEach((a) => {
            new bootstrap.Alert(a).close();
        })
    })
</script>
<div th:replace="~{fragments/footer::footer}"></div>
</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
        integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</html>