<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body>
<div th:replace="~{fragments/navigation::navigation}"></div>
<div class="container mt-5" style="font-size:1rem;">
    <a th:href="@{/notebooks}" class="btn btn-light">Back</a>
    <br>
    <form th:object="${updatedNotebook}" th:method="POST"
          th:action="@{/notebooks/update/{id}(id=${updatedNotebook.notebookId})}">
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="title" class="visually-hidden">Title</label>
                <input type="text" class="form-control" id="title" name="title" th:field="*{title}" placeholder="Title">
                <div th:if="${#fields.hasErrors('title')}"
                     class="alert alert-danger alert-dismissible fade show" data-err-alert>
                    <span th:errors="*{title}" class="alert-danger"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
        <br>
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="date" class="visually-hidden">Date</label>
                <input type="date" class="form-control" id="date" name="date" th:value="*{date}" required>
            </div>
        </div>
        <br>
        <div class="form-row row align-items-center">
            <div class="form-group col-md-6">
                <label for="subject" class="visually-hidden">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" th:field="*{subject}"
                       placeholder="Subject">
                <div th:if="${#fields.hasErrors('subject')}"
                     class="alert alert-danger alert-dismissible fade show" data-err-alert>
                    <span th:errors="*{subject}" class="alert-danger"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
        <a th:href="@{/notebooks}" class="btn btn-light">Cancel</a>
    </form>
</div>
<br>
<script>
    document.addEventListener('DOMContentLoaded', () => {

    });
    const btn = document.querySelector("#btn");
    btn.addEventListener("submit", (e) => {
        e.preventDefault();
    })
    const btnCloseErrs = document.querySelector("#btn-close-errs")
    btnCloseErrs.addEventListener("click", () => {
        const alerts = document.querySelectorAll("[data-err-alert]");
        alerts.forEach((a) => {
            new bootstrap.Alert(a).close();
        })
    })
</script>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>